.filter-heading {
    -fx-font-family: 'Poppins', sans-serif;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff ;
}

.filter-section-title {
    -fx-font-family: 'Poppins', sans-serif;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff ;
    -fx-padding: 15 0 5 0;
}


.btn-calme, .btn-normal, .btn-bonde, .btn-consultation, .btn-horaire-val, .btn-modifier-gray {
    -fx-font-family: 'Poppins', sans-serif;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-transition: all 0.15s ease-in-out;
}


.btn-calme {
    -fx-background-color: #a8eed1 ;
    -fx-text-fill: #121212 ;
    -fx-background-radius: 12;
}

.btn-normal {
    -fx-background-color: #f3e5ab ;
    -fx-text-fill: #121212 ;
    -fx-background-radius: 12;
}

.btn-bonde {
    -fx-background-color: #e57373 ;
    -fx-text-fill: #ffffff ;
    -fx-background-radius: 12;
}



.btn-consultation {
    -fx-background-color: #b3e5fc ;
    -fx-text-fill: #121212 ;
    -fx-background-radius: 12;
    -fx-padding: 10 20 10 20;
}


.btn-horaire-val {
    -fx-background-color: #2c2c2c ;
    -fx-border-color: #f3e5ab ; 
    -fx-border-width: 1.5;
    -fx-border-radius: 12;
    -fx-background-radius: 12;
    -fx-text-fill: #f3e5ab ;
    -fx-padding: 10 15 10 15;
}


.btn-modifier-gray {
    -fx-background-color: #333333 ;
    -fx-text-fill: #ffffff ;
    -fx-background-radius: 12;
    -fx-padding: 10 15 10 15;
}
.btn-modifier-gray:hover {
    -fx-background-color: #444444 ;
}


.action-button {
    -fx-background-color: #5ce1e6 ;
    -fx-text-fill: #121212 ;
    -fx-font-family: 'Poppins', sans-serif;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-radius: 25;
    -fx-pref-height: 50px;
    -fx-min-width: 290;
    -fx-max-width: 290;
    -fx-cursor: hand;
}

.action-button:hover {
    -fx-background-color: #4bc1c6 ;
}





.btn-calme:focused {
    -fx-background-color: #a8eed1 ;
    -fx-text-fill: #121212 ;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-effect: dropshadow(three-pass-box, rgba(168, 238, 209, 0.7), 15, 0.0, 0, 0);
}


.btn-normal:focused {
    -fx-background-color: #f3e5ab ;
    -fx-text-fill: #121212 ;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-effect: dropshadow(three-pass-box, rgba(243, 229, 171, 0.7), 15, 0.0, 0, 0);
}


.btn-bonde:focused {
    -fx-background-color: #e57373 ;
    -fx-text-fill: #ffffff ;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-effect: dropshadow(three-pass-box, rgba(229, 115, 115, 0.7), 15, 0.0, 0, 0);
}


.btn-consultation:focused {
    -fx-background-color: #b3e5fc ;
    -fx-text-fill: #121212 ;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-effect: dropshadow(three-pass-box, rgba(179, 229, 252, 0.7), 15, 0.0, 0, 0);
}